 /* Taille max page et famille de police unique  */
body {
    font-family: 'Raleway';
    font-style: normal;
    display: flex;
    justify-content: center;

}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.neutralStar {
    color: var(--main-bg-color)
}
a:visited {
    color: black;
}
/* Importation de la police d'écriture  */
@font-face {
    font-family: 'Releway';
    src: url(fonts);
    font-style: normal;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
/* Mise en place du header avec flex + alignement  */
.header {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
}
/* Taille du logo  */
.logo {
    width: 4em;
    height: 1.2em;
}

.menu {
    border: 1px solid red;
}
/* Alignement des éléments de la barre de navigation  */
.header .menu ul  {
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
    padding: 1px;  
    gap: 23px; 
}
.header .menu ul li {
    padding: 1px;
    border: 1px solid yellow;
}

.menu nav {
    height: 100%;
}

/* Creation de la barre au dessus de l'élément de navigation survolé  */
.menu nav  ul li a:hover{
    border-top: #0065FC;
    
    background-color: var(--main-color);
   
}
/* Taille/style du titre  */
h1 {   
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

span {    
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
 }
/* Enlever les décoration automatique des liens  */
a {
    text-decoration: none;
    padding: 2 em;
}
/* Coloration passage souris  */
.menu li a:hover {
    color: #0065FC;    
}
/* Enlever décoration des listes  */
li {
    list-style-type: none;
}

.formulaire {
    display: flex;
    width: 132px;
    height: 49px;
    align-items: center;
    
}
.barre {
    width: 332px;
    height: 49px;    
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: 700;
}
/* Bouton rechercher   */
.recherche {
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    width: 132px;
    height: 49px;
    padding: 15px 16px;
    color: white;
}
/* Titre "filtre" */
.filtre {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Alignement des filtres plus gap  */
.filtres  {
    display: flex;
    flex-direction: row;
    gap: 52px;
    border: 1px solid black;
    justify-content: space-around;
    align-items: center;
    width: 914px;
    height: 50px;
    left: 62px;
    top: 280px;
}
/* Intérieur des filtres  */
.filtres li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 914px;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    box-sizing: border-box;
    font-weight: 700;
}
.filtres li:hover {
    background: #DEEBFF;
}
/* Taille icones  */
.filtres li i {
    size: 44px;
}

.section-titre {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.hebergements-et-populaires {
    display: flex;
    justify-content: space-between;
    }
    
    .hebergements-et-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
    }  
    .hebergements {
        width: 65%;
    }

.hebergements-titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hebergements-cards .card-content {
    width: 33%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    align-self: stretch;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
    
footer  {
   
    border: 1px solid black;
    position: relative;
    top: 0%;   
    bottom: -10.84%;
    background: #F2F2F2;
    
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h5 {
    font-weight: 700;
    font-size: 18px;

}
.footer-titre {
    border: 1px solid black;
    position: relative;
}
.footer-titre .nav  .ul .li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;

}

i {
    color: #0065FC;
}

.fa-info  {
    border: solid 1px black; 
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 1px 1px 1px 5px;
    
}